@font-face 
{
    font-family: NorseBold;
    src: url(Norse-Bold.otf);
}

:root
{
    --customColor1: rgb(59, 158, 142);
}

*
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

a
{
    color: white;
}

body
{
    background-color: #0e1113;
}

.container
{
    /* General properties */
    justify-content: center;
    height: 100vh;

    /* Flex properties */
    display: flex;
}

/* START OF LEFT SIDE OF THE PAGE CSS */
.leftContainer
{
    /* General properties */
    max-width: 450px;
    min-width: 450px;

    /* Flex properties */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* Image properties */
    background-image: url(redd-f-vz2zGzFktBo-unsplash.jpg);
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

.leftLogoBar
{
    width: 100%;
    height: 100px;   
    margin-top: 200px;

    /* flex Properties */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:rgba(0, 0, 0, 0.5);
}

.logoImg
{
    width: 75px;
    height: auto;
}

.logoName
{
    /* Text properties */
    font-family: NorseBold;
    font-size: 75px;
    color: white;
}

.photoBy
{
    width: 100%;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/* START OF RIGHT SIDE OF THE PAGE CSS */
.rightContainer
{
    /* General properties */
    width: 800px;
    min-width: 650px;

    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.topContainer
{
    /* General properties */
    width: 100%;
    height: 500px;

    /* flex Properties */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    background-color:whitesmoke;
}

.topContainer > p
{
    /* General Properties */
    max-width: 600px;
    margin-bottom: 50px;

    /* Text properties */
    font-size: 20px;
}

em
{
    /* Text properties */
    font-size: 20px;
}

.middleContainer
{
    /* General Properties */
    position: relative;
    width: 100%;
    height: 450px;
    
    /* Styling */
    background-color: white;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.formTitle
{
    /* General properties */
    margin-top: 10px;

    /* Text properties */
    font-size: 18px;
    color: black;
}

.signUpContainer
{
    /* General properties */
    width: 75%;
    height: 70%;
    margin-top: 20px;

    
    /* Flex properties */
    display: flex;
}

.leftSideForm, .rightSideForm
{
    /* General properties */
    margin-right: 50px;

    /* Flex properties */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputBox
{
    /* Flex properties */
    display: flex;
    flex-direction: column;
}

label
{
    /* Text properties */
    font-size: 10px;
    letter-spacing: 1px;
}

input
{
    /* General properties */
    width: 200px;
    padding: 5px;

    /* Border properties */
    border-color: whitesmoke;
    border-radius: 5px;
    border-style: solid;

    /* Text properties */
    font-weight: normal;
    font-size: 16px;
}

input:focus
{
    outline: none;
    border-color: var(--customColor1);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.bottomContainer
{
    /* General properties */
    width: 100%;
    height: 500px;
    padding-top: 30px;

    background-color: whitesmoke;
}

.creatAccountContainer button
{
    /* General properties */
    position: relative;
    width: 200px;
    height: 40px;

    /* Text properties */
    font-size: 14px;
    color: white;

    /* Border properties */
    border-radius: 6px;
    border-style: solid;
    border-color: var(--customColor1);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);

    background-color: var(--customColor1);
}

.logInContainer
{
    /* General properties */
    margin-top: 25px;

    /* Text properties */
    font-size: 14px;
}

.logInContainer a
{
    font-size: 14px;
    color: var(--customColor1);
    text-decoration: none;
}


/* This shifts all content inside the 3 containers to the left with margin of 50px */
p, .formTitle, .signUpContainer, .creatAccountContainer, .logInContainer
{
    /* General properties */
    margin-left: 40px;
}